<template>
<nav class="navbar navbar-expand-sm" style="background-color: navy; width: 100%">
  <div class="container-fluid">
    <div style="margin-top: 3px; margin-left: 5px;">
      <div style="padding-left: 5px; background-color: #f2f2f2; border-radius: 5px; vertical-align: middle;">
        <a href="/home" class="navbar-brand"><span class="fw-bolder" style="font-size: 30px; color: navy;"><img src="@/assets/logo_sf.png" width="40" />  CLIMED</span></a>
      </div>
    </div>
    <div id="usuarioLogado" class="text-sm-end" style="padding: 0px;">
      <div>
        <span id="nomeUsuario" class="text-white text-uppercase font-weight-bold" style="font-size: 12px;"></span>&nbsp;
        <span id="perfil" style="font-size: 12px; color: yellow;"></span>
      </div>
      <div>
        <span id="ultimo" class="text-white text-uppercase font-weight-bold" style="font-size: 12px;"></span>&nbsp;
        <span id="acesso" style="font-size: 12px; color: yellow;"></span>
      </div>
    </div>
  </div>
</nav>
<sidebar />
<footer-layout />
</template>

<script>
/* eslint-disable */
import FooterLayout from '@/components/layouts/FooterLayout.vue'
import Sidebar from '@/components/layouts/Sidebar.vue'

function getUsuarioLogado() {
  let usuario = JSON.parse(localStorage.getItem("usuario"));
  let ultimo_acesso = localStorage.getItem("ultimo_acesso");
  let acesso = ultimo_acesso.replaceAll('"', '');

  if (usuario) {
    document.getElementById('nomeUsuario').innerHTML = ''
    document.getElementById('perfil').innerHTML = ''
    document.getElementById('ultimo').innerHTML = ''
    document.getElementById('acesso').innerHTML = ''

    document.getElementById('nomeUsuario').innerHTML += `${usuario.nom_usuario}`
    document.getElementById('perfil').innerHTML += `(${usuario.perfil[0].nom_perfil})`
    document.getElementById('ultimo').innerHTML += 'ÚLTIMO ACESSO'
    document.getElementById('acesso').innerHTML += `${acesso}`
  }
}

export default {
  name: 'AppHeader',
  components: {
    FooterLayout,
    Sidebar
  },
  mounted () {
    if(localStorage.getItem("usuario"))
      getUsuarioLogado();
  }
}
</script>