<template>
  <footer class="fixed-bottom text-white text-center" style="background-color: navy; padding-bottom: 5px;">
    <div id="footer-page"></div>
  </footer>
</template>
<script>
export default {
  name: 'AppFooter',
  mounted () {
    const dataAtual = new Date()
    const anoAtual = dataAtual.getFullYear()
    document.getElementById('footer-page').innerHTML += '<b>CLIMED ©' + anoAtual + '</b><br>'
    document.getElementById('footer-page').innerHTML += 'Desenvolvido por: lucsonic@gmail.com'
  }
}
</script>

<style>
  #footer-page {
    font-size: 12px;
  }
</style>
