<template>
 <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #EBF2FE; border-right: 8px solid #92a8d1;">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100" id="menu">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a href="/home" class="nav-link align-middle px-0" style="color: black;">
                <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;"><i class="fa fa-house" style="font-size: 20px; color: black;"></i>&nbsp;&nbsp;Home</span>
              </a>
            </li>
            <li>
              <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle" style="color: black;">
                <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;"><i class="fa fa-folder-tree" style="font-size: 20px; color: black;"></i>&nbsp;&nbsp;Administrativo</span>
              </a>
              <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li class="w-100" id="menuClientes" style="display: none;">
                  <router-link class="nav-link text-dark" to="cliente"><i class="fa fa-people-group text-dark"></i>&nbsp;&nbsp;Clientes</router-link>
                </li>
                <li class="w-100" id="menuUsuarios" style="display: none;">
                  <router-link class="nav-link text-dark" to="usuario"><i class="fa fa-user-check text-dark"></i>&nbsp;&nbsp;Usuários</router-link>
                </li>
                <li class="w-100" id="menuPerfis" style="display: none;">
                  <router-link class="nav-link text-dark" to="perfil"><i class="fa fa-gear text-dark"></i>&nbsp;&nbsp;Perfis</router-link>
                </li>
                <li class="w-100" id="menuFuncoes" style="display: none;">
                  <router-link class="nav-link text-dark" to="funcao"><i class="fa fa-award text-dark"></i>&nbsp;&nbsp;Funções</router-link>
                </li>
                <li class="w-100" id="menuEspecialidades" style="display: none;">
                  <router-link class="nav-link text-dark" to="especialidade"><i class="fa fa-stamp text-dark"></i>&nbsp;&nbsp;Especialidades</router-link>
                </li>
                <li class="w-100" id="menuDepartamentos" style="display: none;">
                  <router-link class="nav-link text-dark" to="departamento"><i class="fa fa-layer-group text-dark"></i>&nbsp;&nbsp;Departamentos</router-link>
                </li>
                <li class="w-100" id="menuFuncionarios" style="display: none;">
                  <router-link class="nav-link text-dark" to="funcionario"><i class="fa fa-people-carry-box text-dark"></i>&nbsp;&nbsp;Funcionários</router-link>
                </li>
              </ul>
            </li>
            <li>
              <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle" style="color: black;">
                <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;"><i class="fa fa-desktop" style="font-size: 20px; color: black;"></i>&nbsp;&nbsp;Atendimento</span>
              </a>
              <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                <li class="w-100">
                  <a class="nav-link text-dark" href="/consulta"><i class="fa fa-stethoscope text-dark"></i>&nbsp;&nbsp;Consultas</a>
                </li>
                <li class="w-100">
                  <a class="nav-link text-dark" href="/agenda"><i class="fa fa-address-book text-dark"></i>&nbsp;&nbsp;Agenda</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle" style="color: black;">
                <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;">&nbsp;<i class="fa fa-dollar-sign" style="font-size: 20px; color: black;"></i>&nbsp;&nbsp;Financeiro</span>
              </a>
              <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                  <router-link class="nav-link text-dark" to="lancamento"><i class="fa fa-money-check-dollar text-dark"></i>&nbsp;&nbsp;Lançamentos</router-link>
                </li>
                <li class="w-100">
                  <a class="nav-link text-dark" href="/balancete"><i class="fa fa-hand-holding-dollar text-dark"></i>&nbsp;&nbsp;Balancete</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle" style="color: black;">
                <span class="ms-1 d-none d-sm-inline" style="font-size: 20px;"><i class="fa fa-print" style="font-size: 20px; color: black;"></i>&nbsp;&nbsp;Relatórios</span>
              </a>
              <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                <li class="w-100">
                  <a class="nav-link text-dark" href="/relatorio-cliente"><i class="fa fa-list text-dark"></i>&nbsp;&nbsp;Relatório de Clintes</a>
                </li>
                <li class="w-100">
                  <a class="nav-link text-dark" href="/relatorio-usuario"><i class="fa fa-list text-dark"></i>&nbsp;&nbsp;Relatório de Usuários</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="nav-link px-0 align-middle" @click="logout">
                <span class="ms-1 d-none d-sm-inline" style="font-size: 20px; color: black;"><i class="fa fa-right-from-bracket" style="font-size: 20px; color: black;"></i>&nbsp;&nbsp;Sair</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button id="btnAtualizaMenu" @click="mostraMenu()" style="display: none;">Atualiza menu</button>
      <div class="col py-3">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script setup>
/* eslint-disable */
import router from "@/router";
import { useAuth } from "@/store/auth";

$(document).ready(function(){
    $("#btnAtualizaMenu").trigger('click');
});

const auth = useAuth();
const permissoes = JSON.parse(localStorage.getItem("permissoes"));

function logout() {
  auth.clear();
  router.push('login');
}

function mostraMenu() {
  permissoes[0].mod_especialidade === '1' ? $("#menuEspecialidades").css("display", "block") : $("#menuEspecialidades").css("display", "none");
  permissoes[0].mod_cliente === '1' ? $("#menuClientes").css("display", "block") : $("#menuClientes").css("display", "none");
  permissoes[0].mod_usuario === '1' ? $("#menuUsuarios").css("display", "block") : $("#menuUsuarios").css("display", "none");
  permissoes[0].mod_perfil === '1' ? $("#menuPerfis").css("display", "block") : $("#menuPerfis").css("display", "none");
  permissoes[0].mod_funcao === '1' ? $("#menuFuncoes").css("display", "block") : $("#menuFuncoes").css("display", "none");
  permissoes[0].mod_funcionario === '1' ? $("#menuFuncionarios").css("display", "block") : $("#menuFuncionarios").css("display", "none");
  permissoes[0].mod_departamento === '1' ? $("#menuDepartamentos").css("display", "block") : $("#menuDepartamentos").css("display", "none");
}
</script>
