<template>
<div class="funcionario" id="appCadastroFuncionario" style="margin-bottom: 20px; color: navy; font-weight: bold;">
    <h2 v-if="state === ''"><i class="fa fa-people-carry-box"></i>&nbsp;Cadastro de Funcionário</h2>
    <h2 v-else><i class="fa fa-file-pen"></i>&nbsp;Edição de Funcionário</h2>
</div>
<div class="card" id="divCadastroFuncionario" style="background-color: #f1f1f1;">
  <div class="card-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-4">
            <label for="nom_funcionario" class="fw-bold">NOME</label>
            <input v-model="form.nom_funcionario" type="text" class="form-control" id="nom_funcionario" placeholder="Nome do funcionário">
        </div>
        <div class="form-group col-sm-2">
            <label for="num_cpf" class="fw-bold">CPF</label>
            <input v-model="form.num_cpf" type="text" class="form-control" id="num_cpf" v-mask="'###.###.###-##'" placeholder="Número do CPF" maxlength="14">
        </div>
        <div class="form-group col-sm-2">
            <label for="num_rg" class="fw-bold">RG</label>
            <input v-model="form.num_rg" type="text" class="form-control" id="num_rg" placeholder="Número do RG">
        </div>
        <div class="form-group col-sm-2">
            <label for="dat_nascimento" class="fw-bold">DT. NASCIMENTO</label>
            <input v-model="form.dat_nascimento" type="text" class="form-control" id="dat_nascimento" maxlength="10" v-mask="'##/##/####'">
        </div>
        <div class="form-group col-sm-2">
            <label for="dsc_sexo" class="fw-bold">SEXO</label>
            <select v-model="form.dsc_sexo" class="form-select" id="dsc_sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-4">
            <label for="dsc_endereco" class="fw-bold">ENDEREÇO</label>
            <input v-model="form.dsc_endereco" type="text" class="form-control" id="dsc_endereco" placeholder="Endereço">
        </div>
        <div class="form-group col-sm-3">
            <label for="dsc_bairro" class="fw-bold">BAIRRO</label>
            <input v-model="form.dsc_bairro" type="text" class="form-control" id="dsc_bairro" placeholder="Bairro">
        </div>
        <div class="form-group col-sm-3">
            <label for="dsc_cidade" class="fw-bold">CIDADE</label>
            <input v-model="form.dsc_cidade" type="text" class="form-control" id="dsc_cidade" placeholder="Cidade">
        </div>
        <div class="form-group col-sm-2">
            <label for="dsc_uf" class="fw-bold">UF</label>
            <select v-model="form.dsc_uf" class="form-select" id="dsc_uf">
                <option v-for="uf in ufs" :key="uf.id" :value="uf.id">{{ uf.name }}</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-2">
            <label for="num_cep" class="fw-bold">CEP</label>
            <input v-model="form.num_cep" type="text" class="form-control" id="num_cep" placeholder="CEP" v-mask="'#####-###'">
        </div>
        <div v-if="state === 'editar'" class="form-group col-sm-2">
            <label for="flg_ativo" class="fw-bold">SITUAÇÃO</label>
            <select v-model="form.flg_ativo" class="form-select" id="flg_ativo">
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
        </div>
        <div class="form-group col-sm-2">
            <label for="cod_departamento" class="fw-bold">DEPARTAMENTO</label>
            <select v-model="form.cod_departamento" class="form-select" id="cod_departamento">
                <option v-for="depto in deptos" :key="depto.id" :value="depto.id">{{ depto.name }}</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label for="cod_funcao" class="fw-bold">FUNÇÃO</label>
            <select v-model="form.cod_funcao" class="form-select" id="cod_funcao">
                <option v-for="func in functions" :key="func.id" :value="func.id">{{ func.name }}</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label for="cod_especialidade" class="fw-bold">ESPECIALIDADE</label>
            <select v-model="form.cod_especialidade" class="form-select" id="cod_especialidade">
                <option v-for="especialidade in especialidades" :key="especialidade.id" :value="especialidade.id">{{ especialidade.name }}</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <div class="form-group col-sm-3">
            <label for="dsc_email" class="fw-bold">EMAIL</label>
            <input v-model="form.dsc_email" type="text" class="form-control" id="dsc_email" placeholder="Email do funcionário">
        </div>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <div class="alert alert-danger alert-dismissible fade show" id="validaForm" style="text-align: center; margin-top: 4px; font-weight: bold; padding: 0px; display: none;"></div>
    </div>
  </div>
</div>
<div style="text-align: right; margin-top: 20px;">
  <button type="buttom" @click="cancelarCadastro" class="btn btn-secondary"><i class="fa fa-ban"></i>&nbsp;Cancelar</button>&nbsp;
  <button v-if="state === ''" type="buttom" @click="salvaFuncionario" class="btn btn-primary"><i class="fa fa-file-arrow-up"></i>&nbsp;Salvar</button>
  <button v-else type="buttom" @click="alteraFuncionario" class="btn btn-primary"><i class="fa fa-file-pen"></i>&nbsp;Atualizar</button>
</div>
</template>

<script>
/* eslint-disable */
import http from '@/services/http.js';
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue';

const funcoes = FuncoesAuxiliares();

export default {
  name: 'divCadastroFuncionario',
  data () {
    return {
        error: '',
        form: {},
        state: '',
        ufs: {},
        deptos: {},
        functions: {},
        especialidades: {}
    }
  },
  mounted () {
    let url = window.document.URL.toString();
    let partes = url.split("=");
    if (partes[1] != undefined) {
      this.state = 'editar';
      this.carregaDados(partes[1]);
    }

    this.listaUfs();
    this.listaDepartamentos();
    this.listaFuncoes();
    this.listaEspecialidades();
  },
  methods: {
    async salvaFuncionario() {
      try {
        if (this.validaCampos()) {
          await http.post('/funcionario/cadastrar', this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Funcionario cadastrado com sucesso!');
              this.$router.push({ name: 'funcionario' });
            }
          })
        }
      } catch (error) {
          funcoes.alerta('error', error);
      }
    },
    async alteraFuncionario() {
      try {
        if (this.validaCampos()) {
          await http.post(`/funcionario/${this.form.cod_funcionario}/alterar`, this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Funcionario alterado com sucesso!');
              this.$router.push({ name: 'funcionario' });
            }
          })
        }
      } catch (error) {
        funcoes.alerta('error', error);
      }
    },
    cancelarCadastro() {
      this.$router.push({ name: 'funcionario' });
    },
    carregaDados(cod_funcionario) {
      http.get(`/funcionario/${cod_funcionario}`).then((response) => {
        this.form = response.data
        this.form.dat_nascimento = this.form.dat_nascimento  ? funcoes.dataFront(this.form.dat_nascimento ) : '-';
      })
    },
    listaUfs() {
      http.get('/listar/ufs').then((response) => {
        this.ufs = response.data
      })
    },
    listaDepartamentos() {
      http.get('/listar/departamentos').then((response) => {
        this.deptos = response.data
      })
    },
    listaFuncoes() {
      http.get('/listar/funcoes').then((response) => {
        this.functions = response.data
      })
    },
    listaEspecialidades() {
      http.get('/listar/especialidades').then((response) => {
        this.especialidades = response.data
      })
    },
    validaCampos() {
      if (document.getElementById('nom_funcionario').value === '') {
        this.error = 'O Nome do funcionário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('nom_funcionario').focus();
        return false;
      }

      if (document.getElementById('dsc_email').value === '') {
        this.error = 'O Email do funcionário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_email').focus();
        return false;
      }

      if (document.getElementById('num_cpf').value === '') {
        this.error = 'O CPF do funcionário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('num_cpf').focus();
        return false;
      }

      if (document.getElementById('num_rg').value === '') {
        this.error = 'O RG do funcionário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('num_rg').focus();
        return false;
      }

      if (document.getElementById('dat_nascimento').value === '') {
        this.error = 'A Data de nascimento do funcionário é obrigatória.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dat_nascimento').focus();
        return false;
      }

      if (document.getElementById('dsc_sexo').value === '') {
        this.error = 'O campo Sexo é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_sexo').focus();
        return false;
      }

      if (document.getElementById('dsc_endereco').value === '') {
        this.error = 'O campo Endereço é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_endereco').focus();
        return false;
      }

      return true;
    }
  }
}
</script>