<template>
<div class="cliente" id="appCadastroCliente" style="margin-bottom: 20px; color: navy; font-weight: bold;">
    <h2 v-if="state === ''"><i class="fa fa-user"></i>&nbsp;Cadastro de Usuário</h2>
    <h2 v-else><i class="fa fa-file-pen"></i>&nbsp;Edição de Usuário</h2>
</div>
<div class="card" id="divCadastroUsuario" style="background-color: #f1f1f1;">
  <div class="card-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-5">
            <label for="nom_usuario" class="fw-bold">NOME</label>
            <input v-model="form.nom_usuario" type="text" class="form-control" id="nom_usuario" placeholder="Nome do usuário">
        </div>
        <div class="form-group col-sm-2">
            <label for="cpf_usuario" class="fw-bold">CPF</label>
            <input v-model="form.cpf_usuario" type="text" class="form-control" id="cpf_usuario" v-mask="'###.###.###-##'" placeholder="Número do CPF" maxlength="14">
        </div>
        <div class="form-group col-sm-5">
            <label for="dsc_email" class="fw-bold">EMAIL</label>
            <input v-model="form.dsc_email" type="text" class="form-control" id="dsc_email" placeholder="Email do usuário">
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <div class="form-group col-sm-2">
        <label for="cod_perfil" class="fw-bold">PERFIL</label>
        <select v-model="form.cod_perfil" class="form-select" id="cod_perfil">
            <option v-for="perfil in perfis" :key="perfil.id" :value="perfil.id">{{ perfil.name }}</option>
        </select>
      </div>
      <div v-if="state === ''" class="form-group col-sm-4">
        <label for="dsc_senha" class="fw-bold">SENHA</label>
        <input v-model="form.dsc_senha" type="password" class="form-control" id="dsc_senha" placeholder="Senha do usuário">
      </div>
      <div v-if="state === 'editar'" class="form-group col-sm-2">
          <label for="flg_ativo" class="fw-bold">SITUAÇÃO</label>
          <select v-model="form.flg_ativo" class="form-select" id="flg_ativo">
              <option value="1">Ativo</option>
              <option value="0">Inativo</option>
          </select>
      </div>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <div class="alert alert-danger alert-dismissible fade show" id="validaForm" style="text-align: center; margin-top: 4px; font-weight: bold; padding: 0px; display: none;"></div>
    </div>
  </div>
</div>
<div style="text-align: right; margin-top: 20px;">
  <button type="buttom" @click="cancelarCadastro" class="btn btn-secondary"><i class="fa fa-ban"></i>&nbsp;Cancelar</button>&nbsp;
  <button v-if="state === ''" type="buttom" @click="salvaUsuario" class="btn btn-primary"><i class="fa fa-file-arrow-up"></i>&nbsp;Salvar</button>
  <button v-else type="buttom" @click="alteraUsuario" class="btn btn-primary"><i class="fa fa-file-pen"></i>&nbsp;Atualizar</button>
</div>
</template>

<script>
/* eslint-disable */
import http from '@/services/http.js';
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue';

const funcoes = FuncoesAuxiliares();

export default {
  name: 'divCadastroUsuario',
  data () {
    return {
      error: '',
      form: {},
      state: '',
      perfis: {}
    }
  },
  mounted () {
    let url = window.document.URL.toString();
    let partes = url.split("=");
    if (partes[1] != undefined) {
      this.state = 'editar';
      this.carregaDados(partes[1]);
    }

    this.listaPerfis()
  },
  methods: {
    listaPerfis() {
      http.get('/listar/perfis').then((response) => {
        this.perfis = response.data
      })
    },
    preencheSigla() {
      let nome = $('#nom_usuario').val()
      let str = nome.split(' ')
      let sigla = str[0] + '.' + str[str.length -1]
      this.form.sig_usuario = funcoes.removeAcento(sigla.toLowerCase())
    },
    carregaDados(cod_usuario) {
      http.get(`/usuario/${cod_usuario}`).then((response) => {
        this.form = response.data
      })
    },
    async salvaUsuario() {
      this.preencheSigla()
      try {
        if (this.validaCampos()) {
          await http.post('/usuario/cadastrar', this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Usuário cadastrado com sucesso!');
              this.$router.push({ name: 'usuario' });
            }
          })
        }
      } catch (error) {
          funcoes.alerta('error', error);
      }
    },
    async alteraUsuario() {
      this.preencheSigla()
      delete(this.form.num_token)
      delete(this.form.flg_email_confirmado)
      delete(this.form.dsc_senha)
      try {
        if (this.validaCampos()) {
          await http.post(`/usuario/${this.form.cod_usuario}/alterar`, this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Usuário alterado com sucesso!');
              this.$router.push({ name: 'usuario' });
            }
          })
        }
      } catch (error) {
        funcoes.alerta('error', error);
      }
    },
    cancelarCadastro() {
      this.$router.push({ name: 'usuario' });
    },
    validaCampos() {
      if (document.getElementById('nom_usuario').value === '') {
        this.error = 'O Nome do usuário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('nom_usuario').focus();
        return false;
      }

      if (funcoes.trataNomeUsuario === true) {
        this.error = 'Escreva o sobrenome do usuário.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('nom_usuario').focus();
        return false;
      }

      if (document.getElementById('cpf_usuario').value === '') {
        this.error = 'O CPF do usuário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('cpf_usuario').focus();
        return false;
      }

      if (document.getElementById('dsc_email').value === '') {
        this.error = 'O email do usuário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_email').focus();
        return false;
      }

      if (document.getElementById('cod_perfil').value === '') {
        this.error = 'O perfil do usuário é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('cod_perfil').focus();
        return false;
      }

      if (this.state === '' && document.getElementById('dsc_senha').value === '') {
        this.error = 'A senha do usuário é obrigatória.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_senha').focus();
        return false;
      }

      return true;
    }
  }
}
</script>