<template>
<div class="cliente" style="margin-bottom: 20px; color: navy; font-weight: bold;">
    <h2 v-if="state === ''"><i class="fa fa-layer-group"></i>&nbsp;Cadastro de Departamento</h2>
    <h2 v-else><i class="fa fa-file-pen"></i>&nbsp;Edição de Departamento</h2>
</div>
<div class="card" id="divCadastroDepartamento" style="background-color: #f1f1f1;">
  <div class="card-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-10">
            <label for="nom_departamento" class="fw-bold">NOME</label>
            <input v-model="form.nom_departamento" type="text" class="form-control" id="nom_departamento" placeholder="Nome do perfil">
        </div>
        <div class="form-group col-sm-2">
          <label for="flg_ativo" class="fw-bold">SITUAÇÃO</label>
          <select v-model="form.flg_ativo" class="form-select" id="flg_ativo">
              <option value="1">Ativo</option>
              <option value="0">Inativo</option>
          </select>
      </div>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <div class="alert alert-danger alert-dismissible fade show" id="validaForm" style="text-align: center; margin-top: 4px; font-weight: bold; padding: 0px; display: none;"></div>
    </div>
  </div>
</div>
<div style="text-align: right; margin-top: 20px;">
  <button type="buttom" @click="cancelarCadastro" class="btn btn-secondary"><i class="fa fa-ban"></i>&nbsp;Cancelar</button>&nbsp;
  <button v-if="state === ''" type="buttom" @click="salvaDepartamento" class="btn btn-primary"><i class="fa fa-file-arrow-up"></i>&nbsp;Salvar</button>
  <button v-else type="buttom" @click="alteraDepartamento" class="btn btn-primary"><i class="fa fa-file-pen"></i>&nbsp;Atualizar</button>
</div>
</template>

<script>
/* eslint-disable */
import http from '@/services/http.js';
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue';

const funcoes = FuncoesAuxiliares();

export default {
  name: 'divCadastroDepartamento',
  data () {
    return {
      error: '',
      form: {},
      state: ''
    }
  },
  mounted () {
    let url = window.document.URL.toString();
    let partes = url.split("=");
    if (partes[1] != undefined) {
      this.state = 'editar';
      this.carregaDados(partes[1]);
    }
  },
  methods: {
    carregaDados(cod_departamento) {
      http.get(`/departamento/${cod_departamento}`).then((response) => {
        this.form = response.data
      })
    },
    async salvaDepartamento() {
      try {
        if (this.validaCampos()) {
          await http.post('/departamento/cadastrar', this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Departamento cadastrado com sucesso!');
              this.$router.push({ name: 'departamento' });
            }
          })
        }
      } catch (error) {
          funcoes.alerta('error', error);
      }
    },
    async alteraDepartamento() {
      try {
        if (this.validaCampos()) {
          await http.post(`/departamento/${this.form.cod_departamento}/alterar`, this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Departamento alterado com sucesso!');
              this.$router.push({ name: 'departamento' });
            }
          })
        }
      } catch (error) {
        funcoes.alerta('error', error);
      }
    },
    cancelarCadastro() {
      this.$router.push({ name: 'departamento' });
    },
    validaCampos() {
      if (document.getElementById('nom_departamento').value === '') {
        this.error = 'O Nome do departamento é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('nom_departamento').focus();
        return false;
      }

      return true;
    }
  }
}
</script>