<template>
<div class="cliente" style="margin-bottom: 20px; color: navy; font-weight: bold;">
    <h2 v-if="state === ''"><i class="fa fa-money-check-dollar"></i>&nbsp;Cadastro de Lançamento Financeiro</h2>
    <h2 v-else><i class="fa fa-file-pen"></i>&nbsp;Edição de Lançamento Financeiro</h2>
</div>
<div class="card" id="divCadastroLancamento" style="background-color: #f1f1f1;">
  <div class="card-body">
    <div class="row" style="margin-bottom: 15px;">
      <div class="form-group col-sm-2">
        <label for="tip_lancamento" class="fw-bold">TIPO</label>
        <select v-model="form.tip_lancamento" class="form-select" id="tip_lancamento">
          <option value="Receita">Receita</option>
          <option value="Despesa">Despesa</option>
        </select>
      </div>
        <div class="form-group col-sm-10">
          <label for="dsc_lancamento" class="fw-bold">DESCRIÇÃO</label>
          <input v-model="form.dsc_lancamento" type="text" class="form-control" id="dsc_lancamento" placeholder="Descrição do lançamento">
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <div class="form-group col-sm-2">
          <label for="dat_lancamento" class="fw-bold">DT. LANÇAMENTO</label>
          <input v-model="form.dat_lancamento" type="text" class="form-control" id="dat_lancamento" maxlength="10" v-mask="'##/##/####'">
      </div>
      <div class="form-group col-sm-2">
          <label for="vlr_lancamento" class="fw-bold">VALOR</label>
          <input v-model="form.vlr_lancamento" type="text" class="form-control" id="vlr_lancamento" maxlength="14" @keyup="formataValor()">
      </div>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <div class="alert alert-danger alert-dismissible fade show" id="validaForm" style="text-align: center; margin-top: 4px; font-weight: bold; padding: 0px; display: none;"></div>
    </div>
  </div>
</div>
<div style="text-align: right; margin-top: 20px;">
  <button type="buttom" @click="cancelarCadastro" class="btn btn-secondary"><i class="fa fa-ban"></i>&nbsp;Cancelar</button>&nbsp;
  <button v-if="state === ''" type="buttom" @click="salvaLancamento" class="btn btn-primary"><i class="fa fa-file-arrow-up"></i>&nbsp;Salvar</button>
  <button v-else type="buttom" @click="alteraLancamento" class="btn btn-primary"><i class="fa fa-file-pen"></i>&nbsp;Atualizar</button>
</div>
</template>

<script>
/* eslint-disable */
import http from '@/services/http.js';
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue';

const funcoes = FuncoesAuxiliares();

export default {
  name: 'divCadastroLancamento',
  data () {
    return {
      error: '',
      form: {},
      state: ''
    }
  },
  mounted () {
    let url = window.document.URL.toString();
    let partes = url.split("=");
    if (partes[1] != undefined) {
      this.state = 'editar';
      this.carregaDados(partes[1]);
    }
  },
  methods: {
    carregaDados(cod_financeiro) {
      http.get(`/financeiro/${cod_financeiro}`).then((response) => {
        this.form = response.data
        this.form.dat_lancamento = this.form.dat_lancamento  ? funcoes.dataFront(this.form.dat_lancamento ) : '-';
        this.form.vlr_lancamento = this.form.vlr_lancamento ? funcoes.valorFront(this.form.vlr_lancamento, { moneySign: false }) : '-';
      })
    },
    async salvaLancamento() {
      let valor = this.form.vlr_lancamento.replace('.', '').replace(',', '');
      let valorPonto = this.inserirPonto(valor);
      this.form.vlr_lancamento = funcoes.valorFront(valorPonto, { moneySign: false });

      try {
        if (this.validaCampos()) {
          await http.post('/financeiro/cadastrar', this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Lançamento cadastrado com sucesso!');
              this.$router.push({ name: 'lancamento' });
            }
          })
        }
      } catch (error) {
          funcoes.alerta('error', error);
      }
    },
    async alteraLancamento() {
      let valor = this.form.vlr_lancamento.replace('.', '').replace(',', '');
      let valorPonto = this.inserirPonto(valor);
      this.form.vlr_lancamento = funcoes.valorFront(valorPonto, { moneySign: false });

      try {
        if (this.validaCampos()) {
          await http.post(`/financeiro/${this.form.cod_financeiro}/alterar`, this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Lançamento alterado com sucesso!');
              this.$router.push({ name: 'lancamento' });
            }
          })
        }
      } catch (error) {
        funcoes.alerta('error', error);
      }
    },
    inserirPonto(a){
      a = a.toString();
      var beforeDot = a.substring(0, a.length-2);
      var afterDot = a.substring(a.length-2, a.length);
      return parseFloat(beforeDot + "." + afterDot);
    },
    cancelarCadastro() {
      this.$router.push({ name: 'lancamento' });
    },
    formataValor() {
      var elemento = document.getElementById('vlr_lancamento');
      var valor = elemento.value;

      valor = valor + '';
      valor = parseInt(valor.replace(/[\D]+/g,''));
      valor = valor + '';
      valor = valor.replace(/([0-9]{2})$/g, ",$1");

      if (valor.length > 6) {
        valor = valor.replace(/([0-9]{3}),([0-9]{2}$)/g, ".$1,$2");
      }

      valor === 'NaN' ? elemento.value = '' : elemento.value = valor;
    },
    validaCampos() {
      if (document.getElementById('tip_lancamento').value === '') {
        this.error = 'O Tipo do lançamento é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('tip_lancamento').focus();
        return false;
      }
      if (document.getElementById('dsc_lancamento').value === '') {
        this.error = 'A descrição do lançamento é obrigatória.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_lancamento').focus();
        return false;
      }
      if (document.getElementById('dat_lancamento').value === '') {
        this.error = 'A data do lançamento é obrigatória.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dat_lancamento').focus();
        return false;
      }
      if (document.getElementById('vlr_lancamento').value === '') {
        this.error = 'O valor do lançamento é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('vlr_lancamento').focus();
        return false;
      }

      return true;
    }
  }
}
</script>