<template>
<div class="cliente" id="appCadastroCliente" style="margin-bottom: 20px; color: navy; font-weight: bold;">
    <h2 v-if="state === ''"><i class="fa fa-user-plus"></i>&nbsp;Cadastro de Cliente</h2>
    <h2 v-else><i class="fa fa-file-pen"></i>&nbsp;Edição de Cliente</h2>
</div>
<div class="card" id="divCadastroCliente" style="background-color: #f1f1f1;">
  <div class="card-body">
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-4">
            <label for="nom_cliente" class="fw-bold">NOME</label>
            <input v-model="form.nom_cliente" type="text" class="form-control" id="nom_cliente" placeholder="Nome do cliente">
        </div>
        <div class="form-group col-sm-2">
            <label for="num_cpf" class="fw-bold">CPF</label>
            <input v-model="form.num_cpf" type="text" class="form-control" id="num_cpf" v-mask="'###.###.###-##'" placeholder="Número do CPF" maxlength="14">
        </div>
        <div class="form-group col-sm-2">
            <label for="num_rg" class="fw-bold">RG</label>
            <input v-model="form.num_rg" type="text" class="form-control" id="num_rg" placeholder="Número do RG">
        </div>
        <div class="form-group col-sm-2">
            <label for="dat_nascimento" class="fw-bold">DT. NASCIMENTO</label>
            <input v-model="form.dat_nascimento" type="text" class="form-control" id="dat_nascimento" maxlength="10" v-mask="'##/##/####'">
        </div>
        <div class="form-group col-sm-2">
            <label for="dsc_sexo" class="fw-bold">SEXO</label>
            <select v-model="form.dsc_sexo" class="form-select" id="dsc_sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-4">
            <label for="dsc_endereco" class="fw-bold">ENDEREÇO</label>
            <input v-model="form.dsc_endereco" type="text" class="form-control" id="dsc_endereco" placeholder="Endereço">
        </div>
        <div class="form-group col-sm-3">
            <label for="dsc_bairro" class="fw-bold">BAIRRO</label>
            <input v-model="form.dsc_bairro" type="text" class="form-control" id="dsc_bairro" placeholder="Bairro">
        </div>
        <div class="form-group col-sm-3">
            <label for="dsc_cidade" class="fw-bold">CIDADE</label>
            <input v-model="form.dsc_cidade" type="text" class="form-control" id="dsc_cidade" placeholder="Cidade">
        </div>
        <div class="form-group col-sm-2">
            <label for="dsc_uf" class="fw-bold">UF</label>
            <select v-model="form.dsc_uf" class="form-select" id="dsc_uf">
                <option v-for="uf in ufs" :key="uf.id" :value="uf.id">{{ uf.name }}</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="form-group col-sm-2">
            <label for="num_cep" class="fw-bold">CEP</label>
            <input v-model="form.num_cep" type="text" class="form-control" id="num_cep" placeholder="CEP" v-mask="'#####-###'">
        </div>
        <div v-if="state === 'editar'" class="form-group col-sm-2">
            <label for="flg_ativo" class="fw-bold">SITUAÇÃO</label>
            <select v-model="form.flg_ativo" class="form-select" id="flg_ativo">
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <div class="alert alert-danger alert-dismissible fade show" id="validaForm" style="text-align: center; margin-top: 4px; font-weight: bold; padding: 0px; display: none;"></div>
    </div>
  </div>
</div>
<div style="text-align: right; margin-top: 20px;">
  <button type="buttom" @click="cancelarCadastro" class="btn btn-secondary"><i class="fa fa-ban"></i>&nbsp;Cancelar</button>&nbsp;
  <button v-if="state === ''" type="buttom" @click="salvaCliente" class="btn btn-primary"><i class="fa fa-file-arrow-up"></i>&nbsp;Salvar</button>
  <button v-else type="buttom" @click="alteraCliente" class="btn btn-primary"><i class="fa fa-file-pen"></i>&nbsp;Atualizar</button>
</div>
</template>

<script>
/* eslint-disable */
import http from '@/services/http.js';
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue';

const funcoes = FuncoesAuxiliares();

export default {
  name: 'divCadastroCliente',
  data () {
    return {
        error: '',
        form: {},
        state: '',
        ufs: {}
    }
  },
  mounted () {
    let url = window.document.URL.toString();
    let partes = url.split("=");
    if (partes[1] != undefined) {
      this.state = 'editar';
      this.carregaDados(partes[1]);
    }

    this.listaUfs();
  },
  methods: {
    async salvaCliente() {
      try {
        if (this.validaCampos()) {
          await http.post('/cliente/cadastrar', this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Cliente cadastrado com sucesso!');
              this.$router.push({ name: 'cliente' });
            }
          })
        }
      } catch (error) {
          funcoes.alerta('error', error);
      }
    },
    async alteraCliente() {
      try {
        if (this.validaCampos()) {
          await http.post(`/cliente/${this.form.cod_cliente}/alterar`, this.form).then((response) => {
            if (response.status == 200) {
              funcoes.alerta('success', 'Cliente alterado com sucesso!');
              this.$router.push({ name: 'cliente' });
            }
          })
        }
      } catch (error) {
        funcoes.alerta('error', error);
      }
    },
    cancelarCadastro() {
      this.$router.push({ name: 'cliente' });
    },
    carregaDados(cod_cliente) {
      http.get(`/cliente/${cod_cliente}`).then((response) => {
        this.form = response.data
      })
    },
    listaUfs() {
      http.get('/listar/ufs').then((response) => {
        this.ufs = response.data
      })
    },
    validaCampos() {
      if (document.getElementById('nom_cliente').value === '') {
        this.error = 'O Nome do cliente é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('nom_cliente').focus();
        return false;
      }

      if (document.getElementById('num_cpf').value === '') {
        this.error = 'O CPF do cliente é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('num_cpf').focus();
        return false;
      }

      if (document.getElementById('num_rg').value === '') {
        this.error = 'O RG do cliente é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('num_rg').focus();
        return false;
      }

      if (document.getElementById('dat_nascimento').value === '') {
        this.error = 'A Data de nascimento do cliente é obrigatória.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dat_nascimento').focus();
        return false;
      }

      if (document.getElementById('dsc_sexo').value === '') {
        this.error = 'O campo Sexo é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_sexo').focus();
        return false;
      }

      if (document.getElementById('dsc_endereco').value === '') {
        this.error = 'O campo Endereço é obrigatório.'
        document.getElementById('validaForm').style.display = 'block';
        document.getElementById('validaForm').innerHTML = '<span class="text-danger">' + this.error + '</span>';
        document.getElementById('dsc_endereco').focus();
        return false;
      }

      return true;
    }
  }
}
</script>