<template>
<div id="divClientes">
  <div style="padding-bottom: 20px; color: navy; font-weight: bold;">
    <h2>Clientes cadastrados</h2>
    <button type="button" @click="novoCliente" class="btn btn" style="background-color: navy; color: white;"><i class="fa fa-user-plus"></i>&nbsp;Novo Cliente</button>
  </div>
  <loading v-model:active="isLoading" :can-cancel="true" :on-cancel="onCancel" :is-full-page="rows"/>
  <div class="row" style="margin-bottom: 50px;">
    <div class="table-responsive">
      <MontaTabela :rows="rows" :columns="columns" />
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import MontaTabela from '@/components/MontaTabela/MontaTabela.vue';
import http from '@/services/http.js';
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue';
import Swal from 'sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/css/index.css'

const funcoes = FuncoesAuxiliares();

export default {
  el: '#divClientes',
  components: { MontaTabela, Loading },
  data () {
    return {
      rows: null,
      isLoading: false,
      state: '',
      columns: [
        { name: 'cod_cliente', title: 'ID', data: 'cod_cliente', className: 'text-center' },
        { name: 'nom_cliente', title: 'NOME', data: 'nom_cliente' },
        { name: 'num_cpf', title: 'CPF', data: 'num_cpf', className: 'text-center' },
        { name: 'dat_nascimento', title: 'DT. NASCIMENTO', data: 'dat_nascimento', className: 'text-center' },
        { name: 'dsc_endereco', title: 'ENDEREÇO', data: 'dsc_endereco' },
        { name: 'dsc_bairro', title: 'BAIRRO', data: 'dsc_bairro', className: 'text-center' },
        { name: 'dsc_cidade', title: 'CIDADE', data: 'dsc_cidade', className: 'text-center' },
        { name: 'dsc_uf', title: 'UF', data: 'dsc_uf', className: 'text-center' },
        { name: 'flg_ativo', title: 'SITUAÇÃO', data: 'flg_ativo', className: 'text-center' },
        { name: 'acoes', title: 'AÇÕES', data: null, className: 'text-center',
        render(data) {
          let btns = '<span>';
          btns += `<a class="btn btn-primary btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" href="cadastro-cliente?id=${data.cod_cliente}"><i class="fa fa-edit"></i></a>&nbsp;`;
          btns += `<a class="btn btn-danger btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" href="cliente?id=${data.cod_cliente}-excluir"><i class="fa fa-trash"></i></a>&nbsp;`;
          btns += `${data.flg_ativo === '<span class="text-success">Ativo</span>' ?
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Desativar" href="cliente?id=${data.cod_cliente}-desativar" class="btn btn-warning btn-sm"><i class="fa fa-triangle-exclamation"></i></a>` :
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Reativar" href="cliente?id=${data.cod_cliente}-reativar" class="btn btn-success btn-sm"><i class="fa fa-reply"></i></a>`
          }`;
          btns += '</span>';
          return btns;
          }
        }
      ]
    }
  },
  mounted() {
    let url = window.document.URL.toString();
    let partes = url.split("=");

    if (partes[1] != undefined) {
      let params = partes[1].split("-");
      if(params[1] === 'excluir') {
        this.state = 'excluir';
        this.excluirCliente(params[0]);
      }
      if (params[1] === 'desativar') {
        this.state = 'desativar';
        this.desativarCliente(params[0]);
      }
      if (params[1] === 'reativar') {
        this.state = 'reativar';
        this.ativarCliente(params[0]);
      }
    } else {
      this.getClientes();
    }
  },
  methods: {
    async getClientes() {
      this.isLoading = true
    await http.get('/cliente/listar').then((response) => {
      this.rows = response.data;
      this.rows.forEach(element => {
        element['dat_nascimento'] = element['dat_nascimento'] ? funcoes.dataFront(element['dat_nascimento']) : '-';
        element['num_cpf'] = element['num_cpf'] ? funcoes.formataCPF(element['num_cpf']) : '-';
        element['flg_ativo'] === parseInt(1) ? element['flg_ativo'] = '<span class="text-success">Ativo</span>' : element['flg_ativo'] = '<span class="text-danger">Inativo</span>';
      });
    });
    this.isLoading = false
    },
    novoCliente() {
      this.$router.push({ name: 'cadastro-cliente' });
    },
    ativarCliente(cod_cliente) {
      http.put(`/cliente/${cod_cliente}/ativar`).then(() => {
        funcoes.alerta('success', 'Cliente ativado com sucesso!');
        this.getClientes();
      })
    },
    desativarCliente(cod_cliente) {
      http.put(`/cliente/${cod_cliente}/inativar`).then(() => {
        funcoes.alerta('success', 'Cliente inativado com sucesso!');
        this.getClientes();
      })
    },
    excluirCliente(cod_cliente) {
      Swal.fire({
        title: 'Deseja realmente excluir o registro?',
        text: "A exclusão não poderá ser revertida!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
      }).then((result) => {
        if (result.isConfirmed) {
          http.put(`/cliente/${cod_cliente}/excluir`).then(() => {
            this.getClientes();
            funcoes.alerta('success', 'Cliente excluído com sucesso!');
          });
        } else {
          this.$router.push({ name: 'cliente' });
          this.getClientes();
        }
      })
    }
  }
}
</script>
