<template>
<div id="divFuncoes">
  <div style="padding-bottom: 20px; color: navy; font-weight: bold;">
    <h2>Especialidades cadastradas</h2>
    <button type="button" @click="novaEspecialidade" class="btn btn" style="background-color: navy; color: white;"><i class="fa fa-stamp"></i>&nbsp;Nova Especialidade</button>
  </div>
  <loading v-model:active="isLoading" :can-cancel="true" :on-cancel="onCancel" :is-full-page="rows"/>
  <div class="row" style="margin-bottom: 50px;">
    <div class="table-responsive">
      <MontaTabela :rows="rows" :columns="columns" />
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import MontaTabela from '@/components/MontaTabela/MontaTabela.vue';
import http from '@/services/http.js'
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue'
import Swal from 'sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/css/index.css'

const funcoes = FuncoesAuxiliares();

export default {
  components: { MontaTabela, Loading },
  mounted() {
    let url = window.document.URL.toString();
    let partes = url.split("=");

    if (partes[1] != undefined) {
      let params = partes[1].split("-");
      if(params[1] === 'excluir') {
        this.state = 'excluir';
        this.excluirEspecialidade(params[0]);
      }
      if (params[1] === 'desativar') {
        this.state = 'desativar';
        this.desativarEspecialidade(params[0]);
      }
      if (params[1] === 'reativar') {
        this.state = 'reativar';
        this.ativarEspecialidade(params[0]);
      }
    } else {
      this.getEspecialidades();
    }
  },
  data() {
    return{
      rows: [],
      isLoading: false,
      state: '',
      columns: [
        { name: 'cod_especialidade', title: 'ID', data: 'cod_especialidade', className: 'text-center', width:'5%' },
        { name: 'nom_especialidade', title: 'NOME', data: 'nom_especialidade', width:'70%' },
        { name: 'flg_ativo', title: 'SITUAÇÃO', data: 'flg_ativo', className: 'text-center', width:'10%' },
        { name: 'acoes', title: 'AÇÕES', data: null, className: 'text-center', width:'15%',
        render(data) {
          let btns = '<span>';
          btns += `<a class="btn btn-primary btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" href="cadastro-especialidade?id=${data.cod_especialidade}"><i class="fa fa-edit"></i></a>&nbsp;`;
          btns += `<a class="btn btn-danger btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" href="especialidade?id=${data.cod_especialidade}-excluir"><i class="fa fa-trash"></i></a>&nbsp;`;
          btns += `${data.flg_ativo === '<span class="text-success">Ativo</span>' ?
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Desativar" href="especialidade?id=${data.cod_especialidade}-desativar" class="btn btn-warning btn-sm"><i class="fa fa-triangle-exclamation"></i></a>` :
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Reativar" href="especialidade?id=${data.cod_especialidade}-reativar" class="btn btn-success btn-sm"><i class="fa fa-reply"></i></a>`
          }`;
          btns += '</span>';
          return btns;
          }
        }
      ]
    }
  },
  methods:{
    novaEspecialidade() {
      this.$router.push({ name: 'cadastro-especialidade' });
    },
    ativarEspecialidade(cod_perfil) {
      http.put(`/especialidade/${cod_perfil}/ativar`).then(() => {
        funcoes.alerta('success', 'Especialidade ativada com sucesso!');
        this.getEspecialidades();
      })
    },
    desativarEspecialidade(cod_perfil) {
      http.put(`/especialidade/${cod_perfil}/inativar`).then(() => {
        funcoes.alerta('success', 'Especialidade inativada com sucesso!');
        this.getEspecialidades();
      })
    },
    excluirEspecialidade(cod_perfil) {
      Swal.fire({
        title: 'Deseja realmente excluir o registro?',
        text: "A exclusão não poderá ser revertida!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
      if (result.isConfirmed) {
        http.put(`/especialidade/${cod_perfil}/excluir`).then(() => {
          this.getEspecialidades();
          funcoes.alerta('success', 'Especialidade excluída com sucesso!');
        });
      } else {
        this.$router.push({ name: 'especialidade' });
        this.getEspecialidades();
      }
    })
    },
    async getEspecialidades() {
      this.isLoading = true
      await http.get('/especialidade/listar').then((response) => {
        this.rows = response.data
        this.rows.forEach(element => {
        element['flg_ativo'] === '1' ? element['flg_ativo'] = '<span class="text-success">Ativo</span>' : element['flg_ativo'] = '<span class="text-danger">Inativo</span>';
      });
      })
      this.isLoading = false
    }
  }
}
</script>