<template>
<div id="divFuncionarios">
  <div style="padding-bottom: 20px; color: navy; font-weight: bold;">
    <h2>Funcionários cadastrados</h2>
    <button type="button" @click="novoFuncionario" class="btn btn" style="background-color: navy; color: white;"><i class="fa fa-people-carry-box"></i>&nbsp;Novo Funcionário</button>
  </div>
  <loading v-model:active="isLoading" :can-cancel="true" :on-cancel="onCancel" :is-full-page="rows"/>
  <div class="row" style="margin-bottom: 50px;">
    <div class="table-responsive">
      <MontaTabela :rows="rows" :columns="columns" />
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import MontaTabela from '@/components/MontaTabela/MontaTabela.vue';
import http from '@/services/http.js';
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue';
import Swal from 'sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/css/index.css'

const funcoes = FuncoesAuxiliares();

export default {
  el: '#divFuncionarios',
  components: { MontaTabela, Loading },
  data () {
    return {
      rows: null,
      isLoading: false,
      state: '',
      columns: [
        { name: 'cod_funcionario', title: 'ID', data: 'cod_funcionario', className: 'text-center' },
        { name: 'nom_funcionario', title: 'NOME', data: 'nom_funcionario' },
        { name: 'num_cpf', title: 'CPF', data: 'num_cpf', className: 'text-center' },
        { name: 'dat_nascimento', title: 'DT. NASCIMENTO', data: 'dat_nascimento', className: 'text-center' },
        { name: 'dsc_email', title: 'EMAIL', data: 'dsc_email', className: 'text-left' },
        { name: 'nom_departamento', title: 'DEPARTAMENTO', data: 'nom_departamento', className: 'text-center' },
        { name: 'nom_funcao', title: 'FUNÇÃO', data: 'nom_funcao', className: 'text-center' },
        { name: 'nom_especialidade', title: 'ESPECIALIDADE', data: 'nom_especialidade', className: 'text-center' },
        { name: 'flg_ativo', title: 'SITUAÇÃO', data: 'flg_ativo', className: 'text-center' },
        { name: 'acoes', title: 'AÇÕES', data: null, className: 'text-center',
        render(data) {
          let btns = '<span>';
          btns += `<a class="btn btn-primary btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" href="cadastro-funcionario?id=${data.cod_funcionario}"><i class="fa fa-edit"></i></a>&nbsp;`;
          btns += `<a class="btn btn-danger btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" href="funcionario?id=${data.cod_funcionario}-excluir"><i class="fa fa-trash"></i></a>&nbsp;`;
          btns += `${data.flg_ativo === '<span class="text-success">Ativo</span>' ?
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Desativar" href="funcionario?id=${data.cod_funcionario}-desativar" class="btn btn-warning btn-sm"><i class="fa fa-triangle-exclamation"></i></a>` :
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Reativar" href="funcionario?id=${data.cod_funcionario}-reativar" class="btn btn-success btn-sm"><i class="fa fa-reply"></i></a>`
          }`;
          btns += '</span>';
          return btns;
          }
        }
      ]
    }
  },
  mounted() {
    let url = window.document.URL.toString();
    let partes = url.split("=");

    if (partes[1] != undefined) {
      let params = partes[1].split("-");
      if(params[1] === 'excluir') {
        this.state = 'excluir';
        this.excluirFuncionario(params[0]);
      }
      if (params[1] === 'desativar') {
        this.state = 'desativar';
        this.desativarFuncionario(params[0]);
      }
      if (params[1] === 'reativar') {
        this.state = 'reativar';
        this.ativarFuncionario(params[0]);
      }
    } else {
      this.getFuncionarios();
    }
  },
  methods: {
    async getFuncionarios() {
      this.isLoading = true
    await http.get('/funcionario/listar').then((response) => {
      this.rows = response.data;
      this.rows.forEach(element => {
        element['dat_nascimento'] = element['dat_nascimento'] ? funcoes.dataFront(element['dat_nascimento']) : '-';
        element['num_cpf'] = element['num_cpf'] ? funcoes.formataCPF(element['num_cpf']) : '-';
        element['flg_ativo'] === '1' ? element['flg_ativo'] = '<span class="text-success">Ativo</span>' : element['flg_ativo'] = '<span class="text-danger">Inativo</span>';
      });
    });
    this.isLoading = false
    },
    novoFuncionario() {
      this.$router.push({ name: 'cadastro-funcionario' });
    },
    ativarFuncionario(cod_funcionario) {
      http.put(`/funcionario/${cod_funcionario}/ativar`).then(() => {
        funcoes.alerta('success', 'Funcionário ativado com sucesso!');
        this.getFuncionarios();
      })
    },
    desativarFuncionario(cod_funcionario) {
      http.put(`/funcionario/${cod_funcionario}/inativar`).then(() => {
        funcoes.alerta('success', 'Funcionário inativado com sucesso!');
        this.getFuncionarios();
      })
    },
    excluirFuncionario(cod_funcionario) {
      Swal.fire({
        title: 'Deseja realmente excluir o registro?',
        text: "A exclusão não poderá ser revertida!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
      }).then((result) => {
        if (result.isConfirmed) {
          http.put(`/funcionario/${cod_funcionario}/excluir`).then(() => {
            this.getFuncionarios();
            funcoes.alerta('success', 'Funcionário excluído com sucesso!');
          });
        } else {
          this.$router.push({ name: 'funcionario' });
          this.getFuncionarios();
        }
      })
    }
  }
}
</script>
