<template>
<div id="divLancamentos">
  <div style="padding-bottom: 20px; color: navy; font-weight: bold;">
    <h2>Lançamentos Financeiros</h2>
    <button type="button" @click="novoLancamento" class="btn btn" style="background-color: navy; color: white;"><i class="fa fa-money-check-dollar"></i>&nbsp;Novo Lançamento</button>
  </div>
  <loading v-model:active="isLoading" :can-cancel="true" :on-cancel="onCancel" :is-full-page="rows"/>
  <div class="row" style="margin-bottom: 50px;">
    <div class="table-responsive">
      <MontaTabela :rows="rows" :columns="columns" />
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import MontaTabela from '@/components/MontaTabela/MontaTabela.vue';
import http from '@/services/http.js'
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue'
import Swal from 'sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/css/index.css'

const funcoes = FuncoesAuxiliares();

export default {
  components: { MontaTabela, Loading },
  mounted() {
    let url = window.document.URL.toString();
    let partes = url.split("=");

    if (partes[1] != undefined) {
      let params = partes[1].split("-");
      if(params[1] === 'excluir') {
        this.state = 'excluir';
        this.excluirLancamento(params[0]);
      }
    } else {
      this.getLancamentos();
    }
  },
  data() {
    return{
      rows: [],
      isLoading: false,
      state: '',
      columns: [
        { name: 'cod_financeiro', title: 'ID', data: 'cod_financeiro', className: 'text-center', width:'5%' },
        { name: 'tip_lancamento', title: 'TIPO', data: 'tip_lancamento', width:'10%', className: 'text-center' },
        { name: 'dsc_lancamento', title: 'DESCRIÇÃO', data: 'dsc_lancamento', width:'55%' },
        { name: 'dat_lancamento', title: 'DATA', data: 'dat_lancamento', width:'10%', className: 'text-center' },
        { name: 'vlr_lancamento', title: 'VALOR (R$)', data: 'vlr_lancamento', width:'10%', className: 'text-center' },
        { name: 'acoes', title: 'AÇÕES', data: null, className: 'text-center', width:'10%',
        render(data) {
          let btns = '<span>';
          btns += `<a class="btn btn-primary btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" href="cadastro-lancamento?id=${data.cod_financeiro}"><i class="fa fa-edit"></i></a>&nbsp;`;
          btns += `<a class="btn btn-danger btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" href="lancamento?id=${data.cod_financeiro}-excluir"><i class="fa fa-trash"></i></a>&nbsp;`;
          return btns;
          }
        }
      ]
    }
  },
  methods:{
    novoLancamento() {
      this.$router.push({ name: 'cadastro-lancamento' });
    },
    excluirLancamento(cod_lancamento) {
      Swal.fire({
        title: 'Deseja realmente excluir o registro?',
        text: "A exclusão não poderá ser revertida!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
      if (result.isConfirmed) {
        http.put(`/financeiro/${cod_lancamento}/excluir`).then(() => {
          this.getLancamentos();
          funcoes.alerta('success', 'Lançamento excluído com sucesso!');
        });
      } else {
        this.$router.push({ name: 'lancamento' });
        this.getLancamentos();
      }
    })
    },
    async getLancamentos() {
      this.isLoading = true
      await http.get('/financeiro/listar').then((response) => {
        this.rows = response.data
        this.rows.forEach(element => {
          element['dat_lancamento'] = element['dat_lancamento'] ? funcoes.dataFront(element['dat_lancamento']) : '-';
          element['vlr_lancamento'] = element['vlr_lancamento'] ? funcoes.valorFront(element['vlr_lancamento'], { moneySign: false }) : '-';
          element['tip_lancamento'] === 'Receita' ? element['tip_lancamento'] = '<span class="text-success">' + element['tip_lancamento'] + '</span>' : element['tip_lancamento'] = '<span class="text-danger">' + element['tip_lancamento'] + '</span>';
        });
      })
      this.isLoading = false
    }
  }
}
</script>