<template>
  <div id="appLogin" class="h-100 d-flex align-items-center justify-content-center">
    <form @submit.prevent="autenticar">
        <div class="card" style="width: 30rem; margin-top: 50%; margin-bottom: 50%; background-color: #EBF2FE; box-shadow: 2px 2px 2px 1px; border: 1px solid navy;">
          <div class="card-body">
            <div style="margin-bottom: 20px; text-align: center; display: flex;" class="text-secondary">
              <img src="@/assets/logo_sf.png"/>
              <div style="margin-left: 20px; margin-top: 30px;">
                <div style="text-align: left;"><h3 class="card-title">Login</h3></div>
                <h6>Informe suas credenciais</h6>
              </div>
            </div>
            <div class="rounded" style="border: solid 1px #c2c2c2; padding: 15px;">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="dsc_email"><b>Email</b>&nbsp;</span>
                </div>
                <input v-model="form.dsc_email" type="text" class="form-control" aria-label="Email" aria-describedby="dsc_email" id="dsc_email" required />
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="dsc_senha"><b>Senha</b></span>
                </div>
                <input v-model="form.dsc_senha" type="password" class="form-control" aria-label="Email" aria-describedby="dsc_senha" id="dsc_senha" required />
              </div>
            </div>
            <div style="text-align: center; margin-top: 10px; display: none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="msgError" name="msgError">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div style="padding-top: 15px; text-align: right;">
              <button type="submit" class="btn btn-primary">&nbsp;&nbsp;Entrar&nbsp;&nbsp;</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</template>

<script setup>
/* eslint-disable */
import http from '@/services/http.js';
import { reactive } from 'vue';
import { useAuth } from '@/store/auth.js';
import router from '@/router';

const auth = useAuth();

const form = reactive({
  dsc_email: '',
  dsc_senha: ''
})

async function autenticar() {
  try {
    document.getElementById('msgError').style.display = 'none';
    const {data} = await http.post('/auth/login', form);
    console.log(data);
    auth.setToken(data.access_token);
    auth.setUsuario(data.usuario);
    auth.setUltimoAcesso(data.ultimo_acesso);
    auth.setPermissoes(data.permissoes);
    router.push('/home');
  } catch (error) {
    console.log(error?.response?.data);
    document.getElementById('msgError').style.display = 'block';
    document.getElementById('msgError').innerHTML = error?.response?.data?.error;
  }
}
</script>