<template>
<div id="divPerfis">
  <div style="padding-bottom: 20px; color: navy; font-weight: bold;">
    <h2><i class="fa fa-arrow-down-up-lock"></i>&nbsp;Atribuição de Permissões</h2>
  </div>
  <div class="row" style="margin-bottom: 50px; margin-left: 5px;">
    <h5 style="padding-bottom: 0px; padding-left: 0px;"><b>Usuário:</b> {{usuario.nom_usuario}}</h5>
    <h5 style="padding-bottom: 5px; padding-left: 0px;"><b>CPF:</b> {{cpf}}</h5>
    <div class="card" style="width: 24%; padding: 0px;">
      <div class="card-header bg-dark text-light">
        Administrativo
      </div>
      <div class="card-body">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_cliente">
          <label class="form-check-label" for="mod_cliente">
            Módulo de Clientes
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_usuario">
          <label class="form-check-label" for="mod_usuario">
            Módulo de Usuários
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_funcionario">
          <label class="form-check-label" for="mod_funcionario">
            Módulo de Funcionários
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_perfil">
          <label class="form-check-label" for="mod_perfil">
            Módulo de Perfis
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_departamento">
          <label class="form-check-label" for="mod_departamento">
            Módulo de Departamentos
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_especialidade">
          <label class="form-check-label" for="mod_especialidade">
            Módulo de Especialidades
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_funcao">
          <label class="form-check-label" for="mod_funcao">
            Módulo de Funções
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_permissao">
          <label class="form-check-label" for="mod_permissao">
            Módulo de Permissões
          </label>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="card" style="width: 24%; padding: 0px;">
      <div class="card-header bg-dark text-light">
        Atendimento
      </div>
      <div class="card-body">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_consulta">
          <label class="form-check-label" for="mod_consulta">
            Marcação de Consultas
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_prontuario">
          <label class="form-check-label" for="mod_prontuario">
            Prontuário
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_atestado">
          <label class="form-check-label" for="mod_atestado">
            Atestado Médico
          </label>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="card" style="width: 24%; padding: 0px;">
      <div class="card-header bg-dark text-light">
        Financeiro
      </div>
      <div class="card-body">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_financeiro">
          <label class="form-check-label" for="mod_financeiro">
            Módulo Financeiro
          </label>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="card" style="width: 26%; padding: 0px;">
      <div class="card-header bg-dark text-light">
        Relatórios
      </div>
      <div class="card-body">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_relatorio">
          <label class="form-check-label" for="mod_relatorio">
            Relatórios Gerais
          </label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="mod_auditoria">
          <label class="form-check-label" for="mod_auditoria">
            Auditoria do Sistema
          </label>
        </div>
      </div>
    </div>
    <div style="text-align: right; margin-top: 20px;">
      <button type="buttom" @click="cancelarAlteracao" class="btn btn-secondary"><i class="fa fa-ban"></i>&nbsp;Cancelar</button>&nbsp;
      <button type="buttom" @click="salvarPermissao" class="btn btn-primary"><i class="fa fa-file-arrow-up"></i>&nbsp;Salvar</button>
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import http from '@/services/http.js'
import { FuncoesAuxiliares } from "@/helpers/FuncoesAuxiliares.vue"

const funcoes = FuncoesAuxiliares();

export default {
  mounted() {
    let url = window.document.URL.toString();
    let partes = url.split("=");
    if (partes[1] != undefined) {
      this.state = 'editar';
      this.carregaDados(partes[1]);
    }
  },
  data() {
    return {
      state: '',
      usuario: {},
      form: {},
      cpf: '',
      mod_cliente: '',
      mod_usuario: '',
      mod_perfil: '',
      mod_funcao: '',
      mod_departamento: '',
      mod_auditoria: '',
      mod_financeiro: '',
      mod_relatorio: '',
      mod_funcionario: '',
      mod_permissao: '',
      mod_especialidade: '',
      cod_permissao: null
    }
  },
  methods:{
    cancelarAlteracao() {
      this.$router.push({ name: 'usuario' });
    },
    salvarPermissao() {
      this.form.mod_cliente = $("#mod_cliente").is(':checked') ? '1' : '0';
      this.form.mod_usuario = $("#mod_usuario").is(':checked') ? '1' : '0';
      this.form.mod_perfil = $("#mod_perfil").is(':checked') ? '1' : '0';
      this.form.mod_funcao = $("#mod_funcao").is(':checked') ? '1' : '0';
      this.form.mod_departamento = $("#mod_departamento").is(':checked') ? '1' : '0';
      this.form.mod_funcionario = $("#mod_funcionario").is(':checked') ? '1' : '0';
      this.form.mod_especialidade = $("#mod_especialidade").is(':checked') ? '1' : '0';
      this.form.mod_financeiro = $("#mod_financeiro").is(':checked') ? '1' : '0';
      this.form.mod_permissao = $("#mod_permissao").is(':checked') ? '1' : '0';
      this.form.mod_auditoria = $("#mod_auditoria").is(':checked') ? '1' : '0';
      this.form.mod_relatorio = $("#mod_relatorio").is(':checked') ? '1' : '0';

      http.post(`/permissao/${this.cod_permissao}/alterar`, this.form).then((response) => {
        if (response)
          funcoes.alerta('success', 'Permissões atualizadas com sucesso!');
      })
    },
    carregaDados(cod_usuario) {
      http.get(`/permissao/${cod_usuario}`).then((response) => {
        this.mod_cliente = response.data[0].mod_cliente;
        this.mod_usuario = response.data[0].mod_usuario;
        this.mod_perfil = response.data[0].mod_perfil;
        this.mod_funcao = response.data[0].mod_funcao;
        this.mod_departamento = response.data[0].mod_departamento;
        this.mod_funcionario = response.data[0].mod_funcionario;
        this.mod_especialidade = response.data[0].mod_especialidade;
        this.mod_financeiro = response.data[0].mod_financeiro;
        this.mod_permissao = response.data[0].mod_permissao;
        this.mod_auditoria = response.data[0].mod_auditoria;
        this.mod_relatorio = response.data[0].mod_relatorio;
        this.cod_permissao = response.data[0].cod_permissao;
        this.checkModulos();
      })
      http.get(`/usuario/${cod_usuario}`).then((response) => {
        this.usuario = response.data
        this.cpf = '***.' + this.usuario.cpf_usuario.substr(3, 3) + '.' + this.usuario.cpf_usuario.substr(6, 3) + '.***';
      })
    },
    checkModulos() {
      this.mod_cliente === '1' ? $("#mod_cliente").prop("checked", true) : $("#mod_cliente").prop("checked", false);
      this.mod_usuario === '1' ? $("#mod_usuario").prop("checked", true) : $("#mod_usuario").prop("checked", false);
      this.mod_perfil === '1' ? $("#mod_perfil").prop("checked", true) : $("#mod_perfil").prop("checked", false);
      this.mod_funcao === '1' ? $("#mod_funcao").prop("checked", true) : $("#mod_funcao").prop("checked", false);
      this.mod_departamento === '1' ? $("#mod_departamento").prop("checked", true) : $("#mod_departamento").prop("checked", false);
      this.mod_auditoria === '1' ? $("#mod_auditoria").prop("checked", true) : $("#mod_auditoria").prop("checked", false);
      this.mod_financeiro === '1' ? $("#mod_financeiro").prop("checked", true) : $("#mod_financeiro").prop("checked", false);
      this.mod_relatorio === '1' ? $("#mod_relatorio").prop("checked", true) : $("#mod_relatorio").prop("checked", false);
      this.mod_funcionario === '1' ? $("#mod_funcionario").prop("checked", true) : $("#mod_funcionario").prop("checked", false);
      this.mod_permissao === '1' ? $("#mod_permissao").prop("checked", true) : $("#mod_permissao").prop("checked", false);
      this.mod_especialidade === '1' ? $("#mod_especialidade").prop("checked", true) : $("#mod_especialidade").prop("checked", false);
    }
  }
}
</script>
