<template>
<div id="divUsuarios">
  <div style="padding-bottom: 20px; color: navy; font-weight: bold;">
    <h2>Usuários cadastrados</h2>
    <button type="button" @click="novoUsuario" class="btn btn" style="background-color: navy; color: white;"><i class="fa fa-user"></i>&nbsp;Novo Usuário</button>
  </div>
  <loading v-model:active="isLoading" :can-cancel="true" :on-cancel="onCancel" :is-full-page="rows"/>
  <div class="row" style="margin-bottom: 50px;">
    <div class="table-responsive">
      <MontaTabela :rows="rows" :columns="columns" />
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import MontaTabela from '@/components/MontaTabela/MontaTabela.vue';
import http from '@/services/http.js'
import { FuncoesAuxiliares } from '@/helpers/FuncoesAuxiliares.vue'
import Swal from 'sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/css/index.css'

const funcoes = FuncoesAuxiliares();

export default {
  components: { MontaTabela, Loading },
  mounted() {
    let url = window.document.URL.toString();
    let partes = url.split("=");

    if (partes[1] != undefined) {
      let params = partes[1].split("-");
      if(params[1] === 'excluir') {
        this.state = 'excluir';
        this.excluirUsuario(params[0]);
      }
      if (params[1] === 'desativar') {
        this.state = 'desativar';
        this.desativarUsuario(params[0]);
      }
      if (params[1] === 'reativar') {
        this.state = 'reativar';
        this.ativarUsuario(params[0]);
      }
    } else {
      this.getUsuarios();
    }
  },
  data() {
    return{
      rows: [],
      isLoading: false,
      state: '',
      columns: [
        { name: 'cod_usuario', title: 'ID', data: 'cod_usuario', className: 'text-center' },
        { name: 'nom_usuario', title: 'NOME', data: 'nom_usuario' },
        { name: 'cpf_usuario', title: 'CPF', data: 'cpf_usuario', className: 'text-center' },
        { name: 'dsc_email', title: 'EMAIL', data: 'dsc_email' },
        { name: 'nom_perfil', title: 'PERFIL', data: 'nom_perfil', className: 'text-center' },
        { name: 'flg_ativo', title: 'SITUAÇÃO', data: 'flg_ativo', className: 'text-center' },
        { name: 'acoes', title: 'AÇÕES', data: null, className: 'text-center',
        render(data) {
          let btns = '<span>';
          btns += `<a class="btn btn-sm" style="background-color: navy; color: white;" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Permissões" href="permissao-usuario?id=${data.cod_usuario}"><i class="fa fa-arrow-down-up-lock"></i></a>&nbsp;`;
          btns += `<a class="btn btn-primary btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" href="cadastro-usuario?id=${data.cod_usuario}"><i class="fa fa-edit"></i></a>&nbsp;`;
          btns += `<a class="btn btn-danger btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" href="usuario?id=${data.cod_usuario}-excluir"><i class="fa fa-trash"></i></a>&nbsp;`;
          btns += `${data.flg_ativo === '<span class="text-success">Ativo</span>' ?
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Desativar" href="usuario?id=${data.cod_usuario}-desativar" class="btn btn-warning btn-sm"><i class="fa fa-triangle-exclamation"></i></a>` :
            `<a data-bs-toggle="tooltip" data-bs-placement="top" title="Reativar" href="usuario?id=${data.cod_usuario}-reativar" class="btn btn-success btn-sm"><i class="fa fa-reply"></i></a>`
          }`;
          btns += '</span>';
          return btns;
          }
        }
      ]
    }
  },
  methods:{
    novoUsuario() {
      this.$router.push({ name: 'cadastro-usuario' });
    },
    ativarUsuario(cod_usuario) {
      http.put(`/usuario/${cod_usuario}/ativar`).then(() => {
        funcoes.alerta('success', 'Usuário ativado com sucesso!');
        this.getUsuarios();
      })
    },
    desativarUsuario(cod_usuario) {
      http.put(`/usuario/${cod_usuario}/inativar`).then(() => {
        funcoes.alerta('success', 'Usuário inativado com sucesso!');
        this.getUsuarios();
      })
    },
    excluirUsuario(cod_usuario) {
      Swal.fire({
        title: 'Deseja realmente excluir o registro?',
        text: "A exclusão não poderá ser revertida!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
      if (result.isConfirmed) {
        http.put(`/usuario/${cod_usuario}/excluir`).then(() => {
          this.getUsuarios();
          funcoes.alerta('success', 'Usuário excluído com sucesso!');
        });
      } else {
        this.$router.push({ name: 'usuario' });
        this.getUsuarios();
      }
    })
    },
    async getUsuarios() {
      this.isLoading = true
      await http.get('/usuario/listar').then((response) => {
        this.rows = response.data
        this.rows.forEach(element => {
          element['cpf_usuario'] = element['cpf_usuario'] ? funcoes.formataCPF(element['cpf_usuario']) : '-';
          element['flg_ativo'] === '1' ? element['flg_ativo'] = '<span class="text-success">Ativo</span>' : element['flg_ativo'] = '<span class="text-danger">Inativo</span>';
        });
      })
      this.isLoading = false
    }
  }
}
</script>
