<template>
<DataTable
  :data="rows"
  :columns="columns"
  class="table table-striped table-bordered table-hover display" style="width: 100%"
  :options='{
    aLengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
    pageLength: 10,
    pagingType: "full_numbers",
    info: true,
    language: {
      "sSearch": "Pesquisar:",
      "sEmptyTable": "Nenhum registro encontrado",
      "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
      "sInfoFiltered": "(Filtrados de _MAX_ registros)",
      "sInfoPostFix": "",
      "sInfoThousands": ".",
      "sLengthMenu": "Mostrar _MENU_ registros por página",
      "sLoadingRecords": "Carregando...",
      "sProcessing": "Processando...",
      "sZeroRecords": "Nenhum registro encontrado",
      "oPaginate": {
        "sNext": `<i class="fa-solid fa-caret-right"></i>`,
        "sPrevious": `<i class="fa-solid fa-caret-left"></i>`,
        "sFirst": `<i class="fa-solid fa-backward-fast"></i>`,
        "sLast": `<i class="fa-solid fa-forward-fast"></i>`
      },
      "oAria": {
        "sSortAscending": ": Ordenar colunas de forma ascendente",
        "sSortDescending": ": Ordenar colunas de forma descendente"
      }
    }
}'>
  <thead class="table-secondary">
    <tr>
      <th v-for="col in columns" :key="col.name">{{ col.title }}</th>
    </tr>
  </thead>
</DataTable>
</template>

<script>
import DataTable from 'datatables.net-vue3'
import DataTableLib from 'datatables.net-bs5'
import 'datatables.net-responsive-bs5'
import 'datatables.net-responsive-dt'

DataTable.use(DataTableLib)

export default {
  name: 'MontaTabela',
  components: { DataTable },
  props: {
    rows: Array,
    columns: Array
  }
}
</script>

<style>
  @import 'bootstrap';
  @import 'datatables.net-bs5';
</style>
