<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<script>
/* eslint-disable */
import { computed } from 'vue'
import { useRouter } from 'vue-router'

export default {
  setup() {
    const defaultlayout = 'default'
    const { currentRoute } = useRouter()

    const layout = computed (
      () => `${currentRoute.value.meta.layout || defaultlayout}-layout`
    )

    return {
      layout
    }
  }
}
</script>
